html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Tourney";
  src: url("../font/Tourney-VariableFont_wdth,wght.ttf") format("ttf"), url("../font/Tourney-VariableFont_wdth_wght_1.eot") format("eot"), url("../font/Tourney-VariableFont_wdth_wght_1.eot?#iefix") format("eot"), url("../font/Tourney-VariableFont_wdth_wght_1.woff") format("woff"), url("../font/Tourney-VariableFont_wdth_wght_1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeemysen';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes circleMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circleMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes clickAni {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes clickAni {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes memoAni {
  from {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes memoAni {
  from {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: rgba(255, 207, 0, 0.5);
  display: block;
}

#loading .globe {
  background-color: #ffffff;
  border: 2px solid #015DB9;
  border-radius: 50%;
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140px;
}

#wrap {
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#wrap main {
  height: 100%;
}

#wrap main section {
  height: 130vh;
}

#wrap main section h2 {
  font-family: "GmarketSansBold";
  font-size: 36px;
  color: #333333;
  text-align: center;
  padding: 90px 0;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section p {
  font-family: "GmarketSansBold";
  font-size: 24px;
  color: #333333;
}

#wrap main section #lego_cloth {
  width: 300px;
}

#wrap main section.home {
  position: relative;
  background-attachment: fixed;
}

#wrap main section.home h1 {
  font-family: "Tourney";
  font-size: 86px;
  color: #333333;
  position: absolute;
  top: 40%;
  left: -300px;
  opacity: 0;
  -webkit-transform: translate(-30%, -40%);
          transform: translate(-30%, -40%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#wrap main section.home img {
  width: 250px;
  position: absolute;
  top: 40%;
  left: 70%;
  -webkit-transform: translate(-70%, -40%);
          transform: translate(-70%, -40%);
}

#wrap main section.home svg {
  width: 50px;
  height: 50px;
  margin-left: 50%;
  margin-top: 80vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section.home svg .outline {
  fill: rgba(0, 0, 0, 0.5);
}

#wrap main section.home svg circle {
  fill: #333333;
  -webkit-animation: circleMove 2s infinite;
          animation: circleMove 2s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#wrap main section.scrolling {
  background: url(../image/bg.png) 40% 50% repeat fixed;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#wrap main section.scrolling:after {
  content: '';
  background: rgba(248, 248, 248, 0.5);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  z-index: 1;
}

#wrap main section.scrolling > img {
  position: absolute;
  z-index: 5;
  top: 430px;
  left: 20%;
}

#wrap main section.scrolling .outline {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 340px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#wrap main section.scrolling .outline img {
  display: block;
}

#wrap main section.scrolling .outline img.outline_head {
  margin-left: 110px;
  margin-top: 0px;
}

#wrap main section.scrolling .outline img.outline_upper {
  margin-top: -4px;
}

#wrap main section.scrolling .outline img.outline_lower {
  margin-left: 74px;
  margin-top: -74px;
}

#wrap main section.scrolling p.explain {
  position: absolute;
  z-index: 5;
  background: url(../image/tape.png) no-repeat 50% 50%;
  top: 230px;
  left: 20%;
  background-size: contain;
  width: 320px;
  height: 100px;
  line-height: 100px;
  font-family: "GmarketSansBold";
  font-size: 18px;
  color: #333333;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

#wrap main section.scrolling p.complete {
  position: absolute;
  z-index: 5;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-family: "Tourney";
  font-size: 48px;
  color: #E2000D;
  display: none;
}

#wrap main section.intro {
  background-attachment: fixed;
}

#wrap main section.intro h2 {
  padding: 90px 0 180px;
}

#wrap main section.intro .contents_wrap {
  background: #015DB9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  width: 0;
}

#wrap main section.intro .contents_wrap img {
  margin-right: 80px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section.intro .contents_wrap p {
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section.intro .contents_wrap p button {
  background: #FFCF00;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0;
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #333333;
  padding: 5px;
  border-radius: 10px;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrap main section.intro .contents_wrap p button:hover {
  -webkit-box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#wrap main section.intro .contents_wrap .dim_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

#wrap main section.intro .contents_wrap .dim_layer .dim_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#wrap main section.intro .contents_wrap .dim_layer .pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 560px;
  height: 300px;
  background: #ffffff;
  z-index: 1000;
  padding: 20px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

#wrap main section.intro .contents_wrap .dim_layer .pop_up h4 {
  font-family: "GmarketSansBold";
  font-size: 28px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

#wrap main section.intro .contents_wrap .dim_layer .pop_up p {
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #333333;
}

#wrap main section.intro .contents_wrap .dim_layer .pop_up button {
  position: absolute;
  top: 23px;
  left: 450px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background: #006DB7;
  border: 0;
  border-radius: 14px;
  width: 90px;
  height: 40px;
  font-family: "Tourney";
  font-size: 18px;
  color: #ffffff;
}

#wrap main section.intro .contents_wrap .dim_layer .pop_up button:hover {
  background: #FFCF00;
}

#wrap main section.cloth_change {
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

#wrap main section.cloth_change::after {
  background: url(../image/bg_stripe.png);
  background-size: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.4;
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
}

#wrap main section.cloth_change .advice_memo {
  position: relative;
  top: -680px;
  left: 70%;
  -webkit-transform: translateX(700px);
          transform: translateX(700px);
}

#wrap main section.cloth_change .advice_memo.memo {
  -webkit-animation: memoAni 1s 1 cubic-bezier(0.03, 0.95, 0.04, 1.01) forwards;
          animation: memoAni 1s 1 cubic-bezier(0.03, 0.95, 0.04, 1.01) forwards;
}

#wrap main section.cloth_change .advice_memo img {
  width: 360px;
}

#wrap main section.cloth_change .advice_memo .memo_text {
  position: absolute;
  top: 120px;
  left: 60px;
}

#wrap main section.cloth_change .advice_memo .memo_text h4 {
  font-family: "UhBeemysen";
  font-size: 36px;
  color: #333333;
}

#wrap main section.cloth_change .advice_memo .memo_text p {
  font-family: "UhBeemysen";
  font-size: 24px;
  color: #333333;
}

#wrap main section.cloth_change .cloth_color_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
  gap: 20px;
}

#wrap main section.cloth_change .cloth_color_wrap .click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section.cloth_change .cloth_color_wrap .click span {
  display: block;
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #333333;
  margin: 60px 10px;
  -webkit-animation: clickAni 0.5s infinite alternate ease-in;
          animation: clickAni 0.5s infinite alternate ease-in;
}

#wrap main section.cloth_change .cloth_color_wrap #lego_cloth {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap main section.cloth_change .cloth_color_wrap #lego_cloth #head {
  cursor: pointer;
}

#wrap main section.cloth_change .cloth_color_wrap #lego_cloth #upperbody {
  cursor: pointer;
}

#wrap main section.cloth_change .cloth_color_wrap #lego_cloth #lowerbody {
  cursor: pointer;
}

#wrap main section.cloth_change .cloth_color_wrap .color_zone {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-left: 70px;
}

#wrap main section.pick_country {
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  padding-top: 100px;
}

#wrap main section.pick_country p {
  font-size: 28px;
  position: relative;
  z-index: 5;
  padding: 30px 0 0 30px;
}

#wrap main section.pick_country .map {
  -webkit-perspective: 200px;
          perspective: 200px;
}

#wrap main section.pick_country .map img {
  -webkit-transform: rotateX(10deg);
          transform: rotateX(10deg);
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  top: -50px;
}

#wrap main section.pick_country img {
  position: absolute;
}

#wrap main section.pick_country img.hero {
  top: 31.5833vw;
  right: 15.4444vw;
  width: 3.7778vw;
  z-index: 20;
}

#wrap main section.pick_country .pin_zone {
  display: none;
  width: 100%;
  height: 100%;
}

#wrap main section.pick_country .pin_zone button {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  width: 2vw;
  height: 2vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  background-color: transparent;
  text-indent: -999999px;
  background-image: url(../image/pin.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#wrap main section.pick_country .pin_zone button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

#wrap main section.pick_country .pin_zone button:nth-child(1) {
  top: 43.7917vw;
  right: 23.7361vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(2) {
  top: 30.7778vw;
  right: 23.5556vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(3) {
  top: 42.2083vw;
  right: 21.8194vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(4) {
  top: 36.4167vw;
  right: 12.8472vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(5) {
  top: 31.6944vw;
  right: 48.9722vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(6) {
  top: 35vw;
  right: 47.8889vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(7) {
  top: 33.6389vw;
  right: 50.3611vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(8) {
  top: 41vw;
  right: 18vw;
}

#wrap main section.pick_country .pin_zone button:nth-child(9) {
  top: 44.5vw;
  right: 17.5vw;
}

#wrap main section.pick_country .info_zone div.country {
  width: 600px;
  height: 500px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
          box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  border: 10px solid #006DB7;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30;
  border-radius: 30px;
  overflow: hidden;
  display: none;
}

#wrap main section.pick_country .info_zone div.country h4 {
  font-family: "GmarketSansBold";
  font-size: 28px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}

#wrap main section.pick_country .info_zone div.country .slider {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

#wrap main section.pick_country .info_zone div.country .slider li {
  width: 540px;
  height: 400px;
}

#wrap main section.pick_country .info_zone div.country .slider li img {
  width: 540px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

#wrap main section.pick_country .info_zone div.country .slider li p {
  font-size: 24px;
  position: absolute;
  top: 300px;
  width: 500px;
  text-align: center;
}

#wrap main section.pick_country .info_zone div.country button {
  position: absolute;
  top: 18px;
  right: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 14px;
  width: 40px;
  height: 40px;
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #333333;
}

#wrap main section.pick_country .info_zone div.country button:hover {
  background: #FFCF00;
}

#wrap main section.pick_country .info_zone div.country button.slick-prev {
  background: #015DB9;
  top: 130px;
  left: -20px;
  z-index: 999;
  width: 60px;
  font-family: "GmarketSansBold";
  font-size: 10px;
  color: #ffffff;
}

#wrap main section.pick_country .info_zone div.country button.slick-next {
  background: #015DB9;
  top: 130px;
  right: -20px;
  z-index: 999;
  width: 60px;
  font-family: "GmarketSansBold";
  font-size: 10px;
  color: #ffffff;
}

#wrap footer {
  width: 100%;
  height: 500px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #333333;
  background-image: url(../image/footer_face.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;
}

#wrap footer .footer_conts {
  width: 80vw;
  margin: auto;
}

#wrap footer .footer_conts h3 {
  font-family: "Tourney";
  font-size: 86px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#wrap footer .footer_conts p {
  text-align: center;
  font-family: "GmarketSansBold";
  font-size: 16px;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
}
/*# sourceMappingURL=style.css.map */