@font-face {
    font-family: "Tourney";
    src:
        url('../font/Tourney-VariableFont_wdth\,wght.ttf') format('ttf'),
        url('../font/Tourney-VariableFont_wdth_wght_1.eot') format('eot'),
        url('../font/Tourney-VariableFont_wdth_wght_1.eot?#iefix') format('eot'),
        url('../font/Tourney-VariableFont_wdth_wght_1.woff') format('woff'),
        url('../font/Tourney-VariableFont_wdth_wght_1.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}