@font-face {
    font-family: "Tourney";
    src: local(Tourney-VariableFont_wdth,wght),
        url(../font/Tourney-VariableFont_wdth\,wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local(RobotoMono-VariableFont_wght),
        url(../font/RobotoMono-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Spoqa Regular";
    src: local(SpoqaHanSansNeo-Regular),
        url(../font/SpoqaHanSansNeo-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Spoqa Bold";
    src: local(SpoqaHanSansNeo-Bold),
        url(../font/SpoqaHanSansNeo-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}