// **import
@import "reset";
@import "font";

// **color
$black : #333333;
$deep-blue : #015DB9;
$blue :  #006DB7;
$yellow : #FFCF00;
$red : #E2000D;
$white: #ffffff;
$green : #028640;

// **mixin
@mixin font ($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color : $color;
}

//**keyframes
@keyframes circleMove {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(9px);
    }
    30% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(9px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes clickAni {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateX(0px);
    }
}


// loading
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 207, 0, 0.5);
    display: block;
    .globe {
        background-color: $white;
        border: 2px solid $deep-blue;
        border-radius: 50%;
        height: 140px;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }
}


// layout
#wrap {
    display: none;
    main{
        height: 100%;
        section{
            height: 130vh;
            &.home{
                position: relative;
                h1{
                    @include font("Tourney",86px,$black);
                    position: absolute;
                    top: 40%;
                    left: -300px;
                    opacity: 0;
                    transform: translate(-30%, -40%);
                    transition: all 1s ease;
                }
                img{
                    width: 250px;
                    position: absolute;
                    top: 40%;
                    left: 70%;
                    transform: translate(-70%, -40%);
                }
                svg{
                    width: 50px;
                    height: 50px;
                    margin-left: 50%;
                    margin-top: 80vh;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: all 1s;
                    .outline {
                        fill: rgba(0, 0, 0, 0.5);
                    }
                    circle {
                        fill: $black;
                        animation: circleMove 2s infinite;
                        animation-delay: 1s;
                        animation-timing-function: linear;
                    }
                }
            }
            &.scrolling{
                position: relative;
                height: 500vh;
                background: url(../image/bg.png) 40% 50% repeat fixed;
                background-size: cover;
                img{
                    position: fixed;
                    left: 0;
                    transform: translateX(-50%);
                    transition: all 0.5s;
                    &.head{
                        opacity: 0;
                        top: 100px;
                        height: 166px;
                    }
                    &.upper_body{ // 163px차이
                        opacity: 0;
                        top: 263px;
                        height: 257px;
                    }
                    &.lower_body{// 185px차이
                        opacity: 0;
                        top: 448px;
                        height: 235px;
                    }
                }
                p{
                    @include font("Tourney",100px,$yellow);
                    display: inline-block;
                    padding: 10px;
                    border-radius: 20px;
                    background: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    left: 50%;
                    bottom: 600px;
                    transform: translateX(-50%) translateY(100px);
                    z-index: 10;
                    opacity: 0;
                    transition: all 1s;
                }
                p.on{
                    transform: translateX(-50%) translateY(0px);
                    opacity: 1;
                }
            }
            &.intro{
                .contents_wrap{
                    background: $deep-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 400px;
                    width: 0;
                    img{
                        margin-right: 80px;
                        opacity: 0;
                        transform: translateX(-100px);
                        transition: all 1s;
                    }
                    p{
                        color: $white;
                        opacity: 0;
                        transform: translateX(-100px);
                        transition: all 1s;
                        button{
                            background: $yellow;
                            appearance: none;
                            cursor: pointer;
                            border: 0;
                            @include font('GmarketSansBold',16px,$black);
                            padding: 5px;
                            border-radius: 10px;
                            vertical-align: middle;
                            transition: all 0.5s ease;
                            &:hover{
                                box-shadow: 0 20px 5px -10px rgba(#000, 0.2);
                                transform: translateY(-10px);
                            }
                        }
                    }
                    .dim_layer{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 100;
                        display: none;
                        .dim_bg{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                        }
                        .pop_up{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 560px;
                            height: 300px;
                            background: $white;
                            z-index: 1000;
                            padding: 20px 60px;
                            box-sizing: border-box;
                            border-radius: 30px;
                            h4{
                                @include font('GmarketSansBold',28px,$black);
                                text-align: center;
                                margin-bottom: 20px;
                            }
                            p{
                                @include font('GmarketSansBold',16px,$black);
                            }
                            button{
                                position: absolute;
                                top: 23px;
                                left: 450px;
                                appearance: none;
                                cursor: pointer;
                                background: $blue;
                                border: 0;
                                border-radius: 14px;
                                width: 90px;
                                height: 40px;
                                @include font("Tourney",18px,$white);
                                &:hover{
                                    background: $yellow;
                                }
                            }
                        }
                    }

                }
            }
            &.cloth_change{
                .cloth_color_wrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 80px;
                    .click{
                        display: flex;
                        flex-direction: column;
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                        span{
                            display: block;
                            @include font('GmarketSansBold',16px,$black);
                            margin: 60px 10px;
                            animation: clickAni 0.5s infinite alternate ease-in;
                        }
                    }
                    #lego_cloth{
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                        #head{
                            cursor: pointer;
                        }
                        #upperbody{
                            cursor: pointer;
                        }
                        #lowerbody{
                            cursor: pointer;
                        }
                    }
                    .color_zone{
                        margin-left: 70px;
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                    }
                }
            }
            &.pick_country{
                overflow: hidden;
                position: relative;
                p{
                    font-size: 36px;
                    position: relative;
                    z-index: 5;
                    padding: 30px 0 0 30px;
                }
                .map{
                    perspective: 200px;
                    img{
                        transform: translateZ(160px) translate(-620px,-440px);
                        transition: all 5s;
                    }
                }
                img{
                    position: absolute;
                    &.hero{
                        top: 520px;
                        right: 340px;
                        width: 110px;
                        display: none;
                        z-index: 20;
                    }
                    &.plane{
                        top: 520px;
                        right: 340px;
                        width: 110px;
                        display: none;
                        z-index: 20;
                    }
                    &.ship{
                        top: 520px;
                        right: 340px;
                        width: 110px;
                        display: none;
                        z-index: 20;
                    }
                }
                .pin_zone{
                    display: none;
                    button{
                        cursor: pointer;
                        position: absolute;
                        z-index: 10;
                        width: 40px;
                        height: 40px;
                        appearance: none;
                        outline: none;
                        border: 0;
                        background-color: transparent;
                        text-indent: -999999px;
                        background-image: url(../image/pin.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: contain;
                        transform: translateY(0px);
                        transition: all 150ms ease-out;
                        &:hover{
                            transform: translateY(-5px);
                            transition: all 100ms ease-in;
                        }
                        &:nth-child(1){
                            top: 703px;
                            right: 507px;
                        }
                        &:nth-child(2){
                            top: 550px;
                            right: 480px;
                        }
                        &:nth-child(3){
                            top: 714px;
                            right: 463px;
                        }
                        &:nth-child(4){
                            top: 588px;
                            right: 307px;
                        }
                        &:nth-child(5){
                            top: 510px;
                            right: 950px;
                        }
                        &:nth-child(6){
                            top: 556px;
                            right: 920px;
                        }
                        &:nth-child(7){
                            top: 538px;
                            right: 970px;
                        }
                        &:nth-child(8){
                            top: 674px;
                            right: 403px;
                        }
                        &:nth-child(9){
                            top: 729px;
                            right: 393px;
                        }
                    }
                }
                .info_zone{
                    div.country{
                        width: 600px;
                        height: 500px;
                        background: $white;
                        box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
                        border: 10px solid $blue;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 30;
                        border-radius: 30px;
                        overflow: hidden;
                        display: none;
                        h4{
                            @include font('GmarketSansBold',28px,$black);
                            text-align: center;
                            margin-top: 20px;
                        }
                        .slider{
                            width: 90%;
                            height: 300px;
                            margin: 0 auto;
                            li{
                                width: 540px;
                                height: 400px;
                                img{
                                    width: 540px;
                                    height: 300px;
                                    object-fit: contain;
                                }
                                p{
                                    font-size: 24px;
                                    position: absolute;
                                    top: 300px;
                                    width: 500px;
                                    text-align: center;
                                }
                            }
                        }
                        button{
                            position: absolute;
                            top: 18px;
                            right: 10px;
                            appearance: none;
                            cursor: pointer;
                            border: 0;
                            border-radius: 14px;
                            width: 40px;
                            height: 40px;
                            @include font("GmarketSansBold",16px,$black);
                            &:hover{
                                background: $yellow;
                            }
                            &.slick-prev{
                                background: $deep-blue;
                                top: 130px;
                                left: -20px;
                                z-index: 999;
                                width: 60px;
                                @include font("GmarketSansBold",10px,$white);
                            }
                            &.slick-next{
                                background: $deep-blue;
                                top: 130px;
                                right: -20px;
                                z-index: 999;
                                width: 60px;
                                @include font("GmarketSansBold",10px,$white);
                            }
                        }
                    }
                }

            }
            h2{
                @include font('GmarketSansBold',36px,$black);
                text-align: center;
                padding: 90px 0;
            }
            p{
                @include font('GmarketSansBold',24px,$black);
            }
            #lego_cloth{
                width: 300px;
            }
        }
    }
    footer{
        width: 100%;
        height: 500px;
        // position: fixed;
        // bottom: 0;
        // z-index: 999;
        // background-color: $black;
        transition: all 1s;
        background-image: url(../image/footer_face.gif);
        background-repeat: repeat-x;
        background-position: bottom;
        // background-size: contain;
        .footer_conts{
            width: 80vw;
            margin: auto ;
            h3{
                @include font("Tourney",86px,$white);
                text-align: center;
                margin-bottom: 40px;
                opacity: 0;
                transform: translateY(100px);
                transition: all 1s;
            }
            p{
                text-align: center;
                @include font('GmarketSansBold',16px,$white);
                opacity: 0;
                transform: translateY(100px);
                transition: all 1s;
            }

        }
    }
}