// **import
@import "reset";
@import "font";

// **color
$black : #333333;
$deep-blue : #015DB9;
$blue :  #006DB7;
$yellow : #FFCF00;
$red : #E2000D;
$white: #ffffff;
$green : #028640;

// **mixin
@mixin font ($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color : $color;
}

//**keyframes
@keyframes circleMove {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(9px);
    }
    30% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(9px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes clickAni {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes memoAni {
    from{
        transform: translateX(700px);
    }
    to{
        transform: translateX(0px);
    }
}


// loading
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 207, 0, 0.5);
    display: block;
    .globe {
        background-color: $white;
        border: 2px solid $deep-blue;
        border-radius: 50%;
        height: 140px;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }
}


// layout
#wrap {
    display: none;
    overflow-x: hidden;
    main{
        height: 100%;
        section{
            height: 130vh;
            h2{
                @include font('GmarketSansBold',36px,$black);
                text-align: center;
                padding: 90px 0;
                opacity: 0;
                transform: translateY(-100px);
                transition: all 1s;
            }
            p{
                @include font('GmarketSansBold',24px,$black);
            }
            #lego_cloth{
                width: 300px;
            }
            &.home{
                position: relative;
                background-attachment: fixed;
                h1{
                    @include font("Tourney",86px,$black);
                    position: absolute;
                    top: 40%;
                    left: -300px;
                    opacity: 0;
                    transform: translate(-30%, -40%);
                    transition: all 1s ease;
                }
                img{
                    width: 250px;
                    position: absolute;
                    top: 40%;
                    left: 70%;
                    transform: translate(-70%, -40%);
                }
                svg{
                    width: 50px;
                    height: 50px;
                    margin-left: 50%;
                    margin-top: 80vh;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: all 1s;
                    .outline {
                        fill: rgba(0, 0, 0, 0.5);
                    }
                    circle {
                        fill: $black;
                        animation: circleMove 2s infinite;
                        animation-delay: 1s;
                        animation-timing-function: linear;
                    }
                }
            }
            &.scrolling{
                background: url(../image/bg.png) 40% 50% repeat fixed;
                background-size: cover;
                background-attachment: fixed;
                position: relative;
                &:after{
                    content: '';
                    background: rgba(248, 248, 248,0.5);
                    border-radius: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 80%;
                    height: 70%;
                    z-index: 1;
                }
                img{
                    position: absolute;
                    z-index: 5;
                    top: 430px;
                    left: 20%;
                    &.outline{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }

                }
                p.explain{
                    position: absolute;
                    z-index: 5;
                    background: url(../image/tape.png) no-repeat 50% 50%;
                    top: 230px;
                    left: 20%;
                    background-size: contain;
                    width: 320px;
                    height: 100px;
                    line-height: 100px;
                    @include font('GmarketSansBold',18px,$black);
                    text-align: center;
                    opacity: 0;
                    transform: translateX(-200px);
                    transition: all 2s;
                }
                p.complete{
                    position: absolute;
                    z-index: 5;
                    top: 240px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    @include font("Tourney",48px,$red);
                    display: none;
                }
                // position: relative;
                // height: 500vh;
                // img{
                //     position: fixed;
                //     left: 0;
                //     transform: translateX(-50%);
                //     transition: all 0.5s;
                //     &.head{
                //         opacity: 0;
                //         top: 100px;
                //         height: 166px;
                //     }
                //     &.upper_body{ // 163px차이
                //         opacity: 0;
                //         top: 263px;
                //         height: 257px;
                //     }
                //     &.lower_body{// 185px차이
                //         opacity: 0;
                //         top: 448px;
                //         height: 235px;
                //     }
                // }
                // p{
                //     @include font("Tourney",100px,$yellow);
                //     display: inline-block;
                //     padding: 10px;
                //     border-radius: 20px;
                //     background: rgba(0, 0, 0, 0.8);
                //     position: absolute;
                //     left: 50%;
                //     bottom: 600px;
                //     transform: translateX(-50%) translateY(100px);
                //     z-index: 10;
                //     opacity: 0;
                //     transition: all 1s;
                // }
                // p.on{
                //     transform: translateX(-50%) translateY(0px);
                //     opacity: 1;
                // }
            }
            &.intro{
                background-attachment: fixed;
                h2{
                    padding: 90px 0 180px;
                }
                .contents_wrap{
                    background: $deep-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 400px;
                    width: 0;
                    img{
                        margin-right: 80px;
                        opacity: 0;
                        transform: translateX(-100px);
                        transition: all 1s;
                    }
                    p{
                        color: $white;
                        opacity: 0;
                        transform: translateX(-100px);
                        transition: all 1s;
                        button{
                            background: $yellow;
                            appearance: none;
                            cursor: pointer;
                            border: 0;
                            @include font('GmarketSansBold',16px,$black);
                            padding: 5px;
                            border-radius: 10px;
                            vertical-align: middle;
                            transition: all 0.5s ease;
                            &:hover{
                                box-shadow: 0 20px 5px -10px rgba(#000, 0.2);
                                transform: translateY(-10px);
                            }
                        }
                    }
                    .dim_layer{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 100;
                        display: none;
                        .dim_bg{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                        }
                        .pop_up{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 560px;
                            height: 300px;
                            background: $white;
                            z-index: 1000;
                            padding: 20px 60px;
                            box-sizing: border-box;
                            border-radius: 30px;
                            h4{
                                @include font('GmarketSansBold',28px,$black);
                                text-align: center;
                                margin-bottom: 20px;
                            }
                            p{
                                @include font('GmarketSansBold',16px,$black);
                            }
                            button{
                                position: absolute;
                                top: 23px;
                                left: 450px;
                                appearance: none;
                                cursor: pointer;
                                background: $blue;
                                border: 0;
                                border-radius: 14px;
                                width: 90px;
                                height: 40px;
                                @include font("Tourney",18px,$white);
                                &:hover{
                                    background: $yellow;
                                }
                            }
                        }
                    }

                }
            }
            &.cloth_change{
                position: relative;
                z-index: 1;
                background-attachment: fixed;
                &::after{
                    background: url(../image/bg_stripe.png);
                    background-size: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    opacity: 0.4;
                    filter: opacity(0.4);
                    z-index: -1;
                    content: '';
                    width: 100%;
                    height: 100%;
                }
                .advice_memo{
                    position: relative;
                    top: -680px;
                    left: 70%;
                    transform: translateX(700px);
                    &.memo{
                        animation: memoAni 1s 1 cubic-bezier(.03,.95,.04,1.01) forwards;
                    }
                    img{
                        width: 360px;
                    }
                    .memo_text{
                        position: absolute;
                        top: 120px;
                        left: 60px;
                        h4{
                            @include font('UhBeemysen',36px,$black);
                        }
                        p{
                            @include font('UhBeemysen',24px,$black);
                        }

                    }
                }
                .cloth_color_wrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 160px;
                    gap: 20px;
                    .click{
                        display: flex;
                        flex-direction: column;
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                        span{
                            display: block;
                            @include font('GmarketSansBold',16px,$black);
                            margin: 60px 10px;
                            animation: clickAni 0.5s infinite alternate ease-in;
                        }
                    }
                    #lego_cloth{
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                        #head{
                            cursor: pointer;
                        }
                        #upperbody{
                            cursor: pointer;
                        }
                        #lowerbody{
                            cursor: pointer;
                        }
                    }
                    .color_zone{
                        opacity: 0;
                        transform: translateY(100px);
                        transition: all 1s;
                        margin-left: 70px;
                    }
                }
            }
            &.pick_country{
                overflow: hidden;
                position: relative;
                background-attachment: fixed;
                padding-top: 100px;
                p{
                    font-size: 28px;
                    position: relative;
                    z-index: 5;
                    padding: 30px 0 0 30px;
                }
                .map{
                    perspective: 200px;
                    img{
                        transform: rotateX(10deg);
                        perspective-origin: center;
                        transition: all 1s;
                        top: -50px;
                    }
                }
                img{
                    position: absolute;
                    &.hero{
                        top: 31.5833vw;
                        right: 15.4444vw;
                        width: 3.7778vw;
                        z-index: 20;
                    }
                    &.plane{
                        top: 31.5833vw;
                        right: 15.4444vw;
                        width: 3.7778vw;
                        display: none;
                        z-index: 20;
                    }
                    &.ship{
                        top: 31.5833vw;
                        right: 15.4444vw;
                        width: 3.7778vw;
                        display: none;
                        z-index: 20;
                    }
                }
                .pin_zone{
                    display: none;
                    width: 100%;
                    height: 100%;
                    button{
                        cursor: pointer;
                        position: absolute;
                        z-index: 10;
                        width: 2.7778vw;
                        height: 2.7778vw;
                        appearance: none;
                        outline: none;
                        border: 0;
                        background-color: transparent;
                        text-indent: -999999px;
                        background-image: url(../image/pin.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: contain;
                        transform: translateY(0px);
                        transition: all 150ms ease-out;
                        &:hover{
                            transform: translateY(-5px);
                            transition: all 100ms ease-in;
                        }
                        &:nth-child(1){
                            top: 39.7917vw;
                            right: 23.7361vw;
                        }
                        &:nth-child(2){
                            top: 28.7778vw;
                            right: 23.5556vw;
                        }
                        &:nth-child(3){
                            top: 40.2083vw;
                            right: 21.8194vw;
                        }
                        &:nth-child(4){
                            top: 32.4167vw;
                            right: 12.8472vw;
                        }
                        &:nth-child(5){
                            top: 28.6944vw;
                            right: 48.9722vw;
                        }
                        &:nth-child(6){
                            top: 32vw;
                            right: 47.8889vw;
                        }
                        &:nth-child(7){
                            top: 30.6389vw;
                            right: 50.3611vw;
                        }
                        &:nth-child(8){
                            top: 37vw;
                            right: 18vw;
                        }
                        &:nth-child(9){
                            top: 41.2917vw;
                            right: 17.125vw;
                        }
                    }
                }
                .info_zone{
                    div.country{
                        width: 600px;
                        height: 500px;
                        background: $white;
                        box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
                        border: 10px solid $blue;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 30;
                        border-radius: 30px;
                        overflow: hidden;
                        display: none;
                        h4{
                            @include font('GmarketSansBold',28px,$black);
                            text-align: center;
                            margin-top: 20px;
                        }
                        .slider{
                            width: 90%;
                            height: 300px;
                            margin: 0 auto;
                            li{
                                width: 540px;
                                height: 400px;
                                img{
                                    width: 540px;
                                    height: 300px;
                                    object-fit: contain;
                                }
                                p{
                                    font-size: 24px;
                                    position: absolute;
                                    top: 300px;
                                    width: 500px;
                                    text-align: center;
                                }
                            }
                        }
                        button{
                            position: absolute;
                            top: 18px;
                            right: 10px;
                            appearance: none;
                            cursor: pointer;
                            border: 0;
                            border-radius: 14px;
                            width: 40px;
                            height: 40px;
                            @include font("GmarketSansBold",16px,$black);
                            &:hover{
                                background: $yellow;
                            }
                            &.slick-prev{
                                background: $deep-blue;
                                top: 130px;
                                left: -20px;
                                z-index: 999;
                                width: 60px;
                                @include font("GmarketSansBold",10px,$white);
                            }
                            &.slick-next{
                                background: $deep-blue;
                                top: 130px;
                                right: -20px;
                                z-index: 999;
                                width: 60px;
                                @include font("GmarketSansBold",10px,$white);
                            }
                        }
                    }
                }

            }
        }
    }
    footer{
        width: 100%;
        height: 500px;
        transition: all 1s;
        background-color: $black;
        background-image: url(../image/footer_face.gif);
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: auto;
        .footer_conts{
            width: 80vw;
            margin: auto ;
            h3{
                @include font("Tourney",86px,$white);
                text-align: center;
                margin-bottom: 40px;
                opacity: 0;
                transform: translateY(100px);
                transition: all 1s;
            }
            p{
                text-align: center;
                @include font('GmarketSansBold',16px,$white);
                opacity: 0;
                transform: translateY(100px);
                transition: all 1s;
            }

        }
    }
}