// **import
@import "reset";
@import "font";

// **color
$black : #333333;
$deep-blue : #015DB9;
$blue :  #006DB7;
$yellow : #FFCF00;
$red : #E2000D;

// **mixin
@mixin font ($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color : $color;
}



// loading
#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 207, 0, 0.5);
    display: block;
    .globe {
        background-color: #ffffff;
        border: 2px solid $deep-blue;
        border-radius: 50%;
        height: 140px;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }
}

// layout
#wrap {
    display: none;
    main{
        height: 100%;
        section{
            height: 130vh;
            &.home{
                position: relative;
                h1{
                    @include font("Tourney",72px,$black);
                    position: absolute;
                    top: 40%;
                    left: 30%;
                    transform: translate(-30%, -40%);
                }
                img{
                    width: 250px;
                    position: absolute;
                    top: 40%;
                    left: 70%;
                    transform: translate(-70%, -40%);
                }
            }
            &.scrolling{
                position: relative;
                height: 400vh; //3382.4px
                img{
                    position: sticky;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    margin-bottom: -300px;

                    &.head{
                        top: 100px;
                    }
                    &.upper_body{ // 163px차이
                        top: 263px;
                    }
                    &.lower_body{// 185px차이
                        top: 448px;
                    }
                }
            }
            &.cloth_change{
                .cloth_color_wrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .color_zone{
                        button{
                            cursor: pointer;
                            outline: 0;
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            border: 0;
                        }
                    }
                }
            }
            h2{
                @include font('GmarketSansBold',32px,$black);
                text-align: center;
            }
            p{
                @include font('GmarketSansBold',24px,$black);
            }
            #lego_cloth{
                width: 300px;
            }
        }
    }
    footer{
        @include font('GmarketSansBold',24px,$black);
    }
}